.card-container {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    padding: 1em 0;
}

.card-container .card-image {
    padding: 2em;
    border: 2px solid white;
    border-radius: 1em;
    transition: transform 100ms ease-in-out;
}

.card-container .card-image h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.card-container .card-image img {
    width: 10em;
    cursor: pointer;
}

.card-container .card-image:hover {
    transform: scale(1.1);
}

.card-container .card-image:active {
    transform: scale(1);
}